@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Blaka&family=Inter&family=Montserrat:wght@800&family=Roboto&family=VT323&display=swap');
*{
    font-family: 'VT323', monospace;
    
}
:root {
  --lightgray: #efefef;
  --blue: steelblue;
  --white: #fff;
  --black: rgba(0, 0, 0, 0.8);
  --bounceEasing: cubic-bezier(0.51, 0.92, 0.24, 1.15);
}
body{
    background: linear-gradient(#A8E9FF, #5fb0cb);
   
}

h1 {
    text-align: center;
    text-transform: uppercase;
    color: rgb(3, 99, 168);
    border-bottom: 4px dashed #fff;
    margin: auto;
    width: 90%;
    padding: 20px 0;
    font-size: 32px;
   
}
.form {
    font-size: 22px;
    font-weight: 600;
    color: rgb(13,110,253);
    opacity: 0.9;
    width: 90%;
    margin: auto;
    text-transform: uppercase;
    padding: 10px;
    text-align: center;
}
.form-control {
    font-size: 20px;
    border-radius: 10px;
    font-weight: 600;
    margin: auto;
    margin-right: 10px;
    gap: 5px;

}
input {
    font-size: 20px;
    border-radius: 20px;
    background-color: #0e51e0;
    color: #fff;
    text-transform: capitalize;
    margin: 10px;
    text-align: center;
    width: 100%;
    margin-left: 0;
}
.form-label {
    font-size: 20px;
    text-transform: capitalize;
}

.btn {
    background-color:rgb(5, 16, 33);
    border-radius: 10px;
    border: 2px solid green;
    font-size: 20px;
    text-align: center;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
    text-shadow: #fff;
    width: 200px;
}

#btn-addAll {
  background-color: #c2fbd7;
  border-radius: 100px;
  box-shadow: rgba(44, 187, 99, .2) 0 -25px 18px -14px inset,rgba(44, 187, 99, .15) 0 1px 2px,rgba(44, 187, 99, .15) 0 2px 4px,rgba(44, 187, 99, .15) 0 4px 8px,rgba(44, 187, 99, .15) 0 8px 16px,rgba(44, 187, 99, .15) 0 16px 32px;
  color: green;
  cursor: pointer;
  padding: 7px 20px;
  text-align: center;
  text-decoration: none;
  transition: all 250ms;
  border: 0;
  width: 100%;
  font-size: 20px;
  font-weight: 600;
  user-select: none;
  margin: 15px 0;
  touch-action: manipulation;
}

#btn-addAll:hover {
  box-shadow: rgba(44,187,99,.35) 0 -25px 18px -14px inset,rgba(44,187,99,.25) 0 1px 2px,rgba(44,187,99,.25) 0 2px 4px,rgba(44,187,99,.25) 0 4px 8px,rgba(44,187,99,.25) 0 8px 16px,rgba(44,187,99,.25) 0 16px 32px;
  transform: scale(1.05) rotate(-1deg);
}
#btn-loadPlayerImage {
  background-color: #c2fbd7;
  border-radius: 100px;
  box-shadow: rgba(44, 187, 99, .2) 0 -25px 18px -14px inset,rgba(44, 187, 99, .15) 0 1px 2px,rgba(44, 187, 99, .15) 0 2px 4px,rgba(44, 187, 99, .15) 0 4px 8px,rgba(44, 187, 99, .15) 0 8px 16px,rgba(44, 187, 99, .15) 0 16px 32px;
  color: green;
  cursor: pointer;
  padding: 7px 20px;
  text-align: center;
  text-decoration: none;
  transition: all 250ms;
  border: 0;
  width: 100%;
  font-size: 20px;
  font-weight: 400;
  user-select: none;
  margin: 15px 0;
  touch-action: manipulation;
}
#btn-loadPlayerImage:hover {
  box-shadow: rgba(44,187,99,.35) 0 -25px 18px -14px inset,rgba(44,187,99,.25) 0 1px 2px,rgba(44,187,99,.25) 0 2px 4px,rgba(44,187,99,.25) 0 4px 8px,rgba(44,187,99,.25) 0 8px 16px,rgba(44,187,99,.25) 0 16px 32px;
  transform: scale(1.05) rotate(-1deg);
}


.players {
	width: 90%;
    margin: auto;
	background: #ccc;
	padding: 2px;
	border: 6px;
	box-sizing: border-box;
    border-bottom: #fff;
    border-radius: 15px;
}

.player {
	background: #809ef1;
    color:#fff;
    font-weight: 600;
	display: flex;
    border-bottom: 2px dashed #fff;
    border-radius: 15px;
}

.player div {
	padding: 20px;
}
.player .qualification {
	flex-basis: 10px;
	background: #6d89d6;
	font-weight: 400;
	font-size: 20px;
	border-radius: 15px;
    text-transform: uppercase;
}
.player .name {
	flex-grow: 1;
	font-size: 24px;
    text-transform: uppercase;
    
} 
.player .position {
	flex-basis: 20px;
	background: #4061bf;
	font-weight: 400;
	font-size: 20px;
    text-transform: uppercase;
	border-radius: 15px;
}
.total{
    background-color: #cff4fc;
    opacity: 0.8;
    color: #000;
    text-transform: uppercase;
    margin: auto;
    border-radius: 5px;
    width: 90%;
    font-size: 24px;
    font-weight: bolder;
    text-align: center;
    border: 3px solid #f0f0f2;
    padding: 2px 0;
}

div>img {
margin: auto;
height: 100px;
width: 100px;
}
.title-app {
    text-align: center;
    display: flex;
    align-content: center;
    justify-content: center;
    flex-grow: initial;
    font-size: 30px;
    font-weight: 400;
    text-transform: uppercase;
    color: #fff;
    letter-spacing: 1rem;
}

footer {
  display: inline-flex;   
  right: 0;
  left: 0;
  width: 100%;
  min-height: 60px;
  margin-top: 10px;
  padding: 10px 0;
  font-size: 14px;
  background-color: rgb(13,110,253);
  word-spacing: .5rem;
  text-align: center;
}

footer p {
    margin: auto;
    display: inline-flex;
    flex-direction: row;
}

.wrapper {
    /* display: inline-block; */
    display: inline-block;
    font-size: 12px;
    margin:auto;
    text-shadow: 0px 7px 10px rgba(5, 3, 3, 0.4);
    transition: ease 200ms;
}
.wrapper:hover {
  cursor: pointer;
  margin-top: -10px;
  text-shadow: 0px 16px 10px rgba(0, 0, 0, 0.3);    
  transform: translate(0, -4);
}
.container-fluid {
    width: 65%;
    
}
.container-fluid a {
    text-decoration: none;
    text-shadow: #f0f0f2;
}
.gallery {
    margin-top: 10px;
    gap: 5px;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    align-items: center;
    justify-items: center;
    width: 100%;
}

.qualy {
    color: #fff;
    font-size: 18px;
    text-align: center;
    font-weight: 500;
}
.card {
    border-radius: 20px;
}

.card-img-top {
    min-height: 225px;
    border-radius: 20px;
}
.card-title {
text-align: center;
text-transform: uppercase;
}
.card-text{
    text-align: center;
    font-weight: 600;
    font-size: 18px;
}
.btn {
    display: inherit;
    margin: auto;
    align-items: center;
}

.table {
   font-size: 20px;
    width: 90%;
    margin: auto;
    border-collapse: separate;
    
}
.table-primary{
    text-align: center;
    letter-spacing: 1rem;
}
.players {
    text-align: center;
    text-transform: capitalize;
}


/* Modal */
.modal-container{
background-image: url(./assets/welcomeBg.png);
background-position: center;
background-repeat: no-repeat;
background-size: cover;
background-attachment: inherit;
width: 100%;
min-height: 100vh;
background-color: #000;
position: fixed;
top: 0;
left: 0;
display: flex;
justify-content: center;
align-items: center;
z-index: 2000;
opacity: 0;
visibility: hidden;
transition: .3s all ease-in;
}

.modal-container--visible{
opacity: 1;
visibility: visible;
}
.welcomemodal {
margin: 0 auto;
background: url(./assets/ballon.png);
background-position: center;
background-clip: unset;
background-size: cover;
background-repeat: no-repeat;
background-attachment: inherit;
width: 350px;
height: 350px;
border-radius: 50%;
color: rgb(0, 81, 202);
text-shadow: #f0f0f2;
font-weight: bold;
letter-spacing: .15rem;
padding: 10px;
}
.input-modal {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    width: auto;
    margin: 0 auto;
    margin-top: 30px; 
}
.btn-modal {
    margin-top: 10px;
    color: #5fb0cb;
    width: 200px;
}

/* my initial list modal */
/* .initial-list {
width: 100%;
min-height: 100vh;
position: fixed;
top: 0;
left: 0;
background-color: transparent;
display: flex;
justify-content: center;
align-items: center;
opacity: 1;
visibility: hidden;
transition: .3s all ease-in;
}
.initial-modal{
display: flex;
justify-content: center;
align-items: center;
    font-size: 15px;
    width: 100%;
    min-height: 100vh;
    margin: 0 auto;
    background-color: #fff;
    color: blue;
    transition: .3s all ease-in;
    visibility: visible;
    opacity: 1; */
/* End of initial list modal */


.close-modal {
  font-weight: bolder;
  background: rgb(6, 153, 15);
  color: #fff;
  padding: 0.2rem 0.9rem;
  margin-bottom: 1rem;
  border-radius: 50%;
}
.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  background: var(--black);
  cursor: pointer;
  overflow-x: hidden;
  visibility: hidden;
  opacity: 0;
  transition: all 0.35s ease-in;
}
.modal.is-visible {
  visibility: visible;
  opacity: 1;
}
.modal-dialog {
  position: relative;
  max-width: 800px;
  max-height: 80vh;
  min-width: 320px;
  font-size: 20px;
  font-weight: 900;
  color: #0e51e0;
  border-radius: 15px;
  background: var(--white);
  overflow: auto;
  text-transform: capitalize;
  cursor: default;
}
.modal-dialog > * {
  padding: 2rem;
}
.modal-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 2px dashed #009912;
}
.modal p + p {
  margin-top: 1rem;
}

[data-animation="slideInOutLeft"] .modal-dialog {
  opacity: 0;
  transform: translateX(-100%);
  transition: all 0.5s var(--bounceEasing);
}

[data-animation="slideInOutLeft"].is-visible .modal-dialog {
  opacity: 1;
  transform: none;
  transition-delay: 0.2s;
}
.galleryFinalTeam {
    background-image: url(./assets/grass.png);
    background-position: center;
    background-size: cover;
    background-attachment: initial;
    background-repeat: no-repeat;
    color: #eaeaea;
    font-size: 32px; 
    font-weight: 900;
    margin-top: 10px;
    gap: 5px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-items: center;
    justify-items: center;
    width: 100%;
    overflow: hidden;
}
.galleryFinalTeam .card-img-top {
    border-radius: 50%;
}
.galleryFinalTeam .cardFT{
    width:150px;
    height: 250px;
    margin: 60px 0;
    display: flex;
    flex-direction: row;
    vertical-align: middle;
}
.ft {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card-titleFT {
    font-size: 34px;
    font-weight: bold;
    text-transform: capitalize;
    margin: 0 auto;
}
.card-textFT {
    font-size: 28px;   
    font-weight: 400;
    color: #009912;
    margin: 0 auto;
}
.galleryFinalTeam:hover {
  animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
  transform: translate3d(34deg, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;

}
.gallerySustitute {
    font-size: 24px;
    text-align: center;
    font-weight: 800;
    color:#4061bf;
    margin: 60px 0;
    gap: 5px;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    align-items: center;
    justify-items: center;
    width: 100%;
    overflow: hidden;
}

.gallerySustitute .card {
    margin-bottom: 60px;
}


@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  
  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}
@media screen and (max-width:800px){
    .title-app{
    font-size: 24px;
  
    }
    .gallery,.gallerySustitute {
        grid-template-columns: repeat(3, 1fr);
    }
    .galleryFInalTeam {
    grid-template-columns: repeat(3, 1fr);
    }

    .container-fluid img {
    display: none;
    }
}
@media screen and (max-width:500px){
    .title-app{
    font-size: 24px;
  
    }
    .gallery,.gallerySustitute  {
        grid-template-columns: repeat(2, 1fr);
    }
    .galleryFInalTeam {
        grid-template-columns: repeat(2, 1fr);
    }
     .container-fluid img {
    display: none;
    }
}


@media screen and (max-width:400px){
    .gallery,.gallerySustitute {
        grid-template-columns: repeat(1, 1fr);
    }
    .galleryFInalTeam {
        grid-template-columns: repeat(1, 1fr);
    }
    .table {
    display: none;
    }
    .form-control{
    font-size: 13px;
    }
    .container-fluid{
    margin-left: 40px ;
    }
    .container-fluid img {
    display: none;
    }
}


/* CANCHA */

.grass {
  background-color: #8CB27C;
  height: 499px;
  width: 1001px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

.line-grass-square {
  background-color: none;
  border: 5px solid #FFFFFF;
  /* height: 467px; */
  height: 100vh;
  width: 967px;
  display: block;
  margin: auto;
  position: relative;
  bottom: 489px;
}

.line-grass-square-rigth {
  background-color: none;
  border: 5px solid #FFFFFF;
  border-left: none;
  height: 190px;
  width: 98px;
  position: absolute;
  margin: auto;
  top: 150px;
  left: 190px;
}

.line-grass-square-left {
  background-color: none;
  border: 5px solid #FFFFFF;
  border-right: none;
  height: 190px;
  width: 98px;
  position: absolute;
  margin: auto;
  top: 150px;
  right: 190px;
}

.circle {
  background-color: none;
  border: 5px solid #FFFFFF;
  border-radius: 50%;
  height: 202px;
  width: 202px;
  position: absolute;
  margin: auto;
  top: 150px;
  right: 190px;
  left: 190px;
}

.ball-center img{
  height: 27px;
  width: 27px;
  position: absolute;
  margin: auto;
  top: 90px;
  right: 190px;
  left: 190px;
}

.ball-rigth img{
  height: 27px;
  width: 27px;
  position: absolute;
  margin: auto;
  top: 220px;
  right: 190px;
  left: 910px;
  bottom: 150px;
}

.ball-left img{
  height: 27px;
  width: 27px;
  position: absolute;
  margin: auto;
  top: 150px;
  right: 910px;
  left: 135px;

}


/* Modal Sustitute player */
.modalDialog {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(0,0,0,0.8);
	z-index: 9999999999999;
	display:none;
	transition: opacity 400ms ease-in;
	pointer-events: auto;
}
.modalDialog > div {
	width: 300px;
    position: relative;
	margin: 10px auto;
	padding: 10px 20px 13px 20px;
	border-radius: 10px;
	background: #fff;
    transition: opacity 400ms ease-in;
}
.modalDialog h2{
    font-weight: 600;
}
.modalDialog p {
    font-size: 20px;
}
.closing {
	background: #fe7c7c;
	color: #FFFFFF;
	line-height: 25px;
	position: absolute;
	right: -12px;
	text-align: center;
	top: -10px;
	width: 30px;
	text-decoration: none;
	font-weight: bold;
	border-radius: 12px;
	box-shadow: 1px 1px 3px #000;
}
.closing:hover { background: #ff0000; }
/* end of sustitute modal Player */