@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Blaka&family=Inter&family=Montserrat:wght@800&family=Roboto&family=VT323&display=swap');
*{
    font-family: 'VT323', monospace;
    
}
body{
    background: linear-gradient(#A8E9FF, #5fb0cb);;
}

h1 {
    text-align: center;
    text-transform: uppercase;
    color: rgb(3, 99, 168);
    border-bottom: 4px dashed #fff;
    margin: auto;
    width: 90%;
    padding: 20px 0;
    font-size: 32px;
   
}
.form {
    font-size: 22px;
    font-weight: 600;
    color: rgb(13,110,253);
    opacity: 0.9;
    width: 90%;
    margin: auto;
    text-transform: uppercase;
    padding: 10px;
    text-align: center;
}
.form-control {
    font-size: 20px;
    border-radius: 10px;
    font-weight: 600;
    margin: auto;
    margin-right: 10px;
    gap: 5px;

}
input {
    font-size: 20px;
    border-radius: 20px;
    background-color: #0e51e0;
    color: #fff;
    text-transform: capitalize;
    margin: 10px;
    text-align: center;
    width: 100%;
    margin-left: 0;
}
.form-label {
    font-size: 20px;
    text-transform: capitalize;
}

.btn {
    background-color:rgb(5, 16, 33);
    border-radius: 10px;
    border: 2px solid green;
    font-size: 20px;
    text-align: center;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
    text-shadow: #fff;
    width: 200px;
}

#btn-addAll {
  background-color: #c2fbd7;
  border-radius: 100px;
  box-shadow: rgba(44, 187, 99, .2) 0 -25px 18px -14px inset,rgba(44, 187, 99, .15) 0 1px 2px,rgba(44, 187, 99, .15) 0 2px 4px,rgba(44, 187, 99, .15) 0 4px 8px,rgba(44, 187, 99, .15) 0 8px 16px,rgba(44, 187, 99, .15) 0 16px 32px;
  color: green;
  cursor: pointer;
  padding: 7px 20px;
  text-align: center;
  text-decoration: none;
  transition: all 250ms;
  border: 0;
  width: 100%;
  font-size: 20px;
  font-weight: 600;
  user-select: none;
  margin: 15px 0;
  touch-action: manipulation;
}

#btn-addAll:hover {
  box-shadow: rgba(44,187,99,.35) 0 -25px 18px -14px inset,rgba(44,187,99,.25) 0 1px 2px,rgba(44,187,99,.25) 0 2px 4px,rgba(44,187,99,.25) 0 4px 8px,rgba(44,187,99,.25) 0 8px 16px,rgba(44,187,99,.25) 0 16px 32px;
  transform: scale(1.05) rotate(-1deg);
}
#btn-loadPlayerImage {
  background-color: #c2fbd7;
  border-radius: 100px;
  box-shadow: rgba(44, 187, 99, .2) 0 -25px 18px -14px inset,rgba(44, 187, 99, .15) 0 1px 2px,rgba(44, 187, 99, .15) 0 2px 4px,rgba(44, 187, 99, .15) 0 4px 8px,rgba(44, 187, 99, .15) 0 8px 16px,rgba(44, 187, 99, .15) 0 16px 32px;
  color: green;
  cursor: pointer;
  padding: 7px 20px;
  text-align: center;
  text-decoration: none;
  transition: all 250ms;
  border: 0;
  width: 100%;
  font-size: 20px;
  font-weight: 400;
  user-select: none;
  margin: 15px 0;
  touch-action: manipulation;
}
#btn-loadPlayerImage:hover {
  box-shadow: rgba(44,187,99,.35) 0 -25px 18px -14px inset,rgba(44,187,99,.25) 0 1px 2px,rgba(44,187,99,.25) 0 2px 4px,rgba(44,187,99,.25) 0 4px 8px,rgba(44,187,99,.25) 0 8px 16px,rgba(44,187,99,.25) 0 16px 32px;
  transform: scale(1.05) rotate(-1deg);
}


.players {
	width: 90%;
    margin: auto;
	background: #ccc;
	padding: 2px;
	border: 6px;
	box-sizing: border-box;
    border-bottom: #fff;
    border-radius: 15px;
}

.player {
	background: #809ef1;
    color:#fff;
    font-weight: 600;
	display: flex;
    border-bottom: 2px dashed #fff;
    border-radius: 15px;
}

.player div {
	padding: 20px;
}
.player .qualification {
	flex-basis: 10px;
	background: #6d89d6;
	font-weight: 400;
	font-size: 20px;
	border-radius: 15px;
    text-transform: uppercase;
}
.player .name {
	flex-grow: 1;
	font-size: 24px;
    text-transform: uppercase;
    
} 
.player .position {
	flex-basis: 20px;
	background: #4061bf;
	font-weight: 400;
	font-size: 20px;
    text-transform: uppercase;
	border-radius: 15px;
}
.total{
    background-color: #0e51e0;
    opacity: 0.8;
    color: #fff;
    text-transform: uppercase;
    margin: auto;
    border-radius: 15px;
    width: 90%;
    font-size: 24px;
    font-weight: bolder;
    text-align: center;
    border: 3px solid #f0f0f2;
    padding: 20px 0;
}
h3 {
text-align: center;
font-size: 24px;
color: #ffffff;
border-bottom: 2px solid white;
width: 90%;
margin: auto;
margin-bottom: 5px;
}
div>img {
margin: auto;
height: 100px;
width: 100px;
}
.title-app {
    text-align: center;
    display: flex;
    align-content: center;
    justify-content: center;
    flex-grow: initial;
    font-size: 30px;
    font-weight: 600;
    text-transform: uppercase;
    color: #fff;
    letter-spacing: 1rem;
}

footer {
  display: inline-flex;   
  right: 0;
  left: 0;
  width: 100%;
  min-height: 60px;
  margin-top: 10px;
  padding: 10px 0;
  font-size: 14px;
  background-color: rgb(13,110,253);
  word-spacing: .5rem;
  text-align: center;
}

footer p {
    margin: auto;
    display: inline-flex;
    flex-direction: row;
}

.wrapper {
    /* display: inline-block; */
    display: inline-block;
    font-size: 12px;
    margin:auto;
    text-shadow: 0px 7px 10px rgba(5, 3, 3, 0.4);
    transition: ease 200ms;
}
.wrapper:hover {
  cursor: pointer;
  margin-top: -10px;
  text-shadow: 0px 16px 10px rgba(0, 0, 0, 0.3);    
  transform: translate(0, -4);
}
.container-fluid {
    width: 65%;
}

.gallery {
    margin-top: 10px;
    gap: 5px;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    align-items: center;
    justify-items: center;
    width: 100%;
}

.qualy {
    color: #fff;
    font-size: 18px;
    text-align: center;
    font-weight: 500;
}
.card {
    border-radius: 20px;
}

.card-img-top {
    min-height: 225px;
    border-radius: 20px;
}
.card-title {
text-align: center;
text-transform: uppercase;
}
.card-text{
    text-align: center;
    font-weight: 600;
    font-size: 18px;
}
.btn {
    display: inherit;
    margin: auto;
    align-items: center;
}


@media screen and (max-width:500px){
    .title-app{
    font-size: 24px;
  
    }
    .gallery {
        grid-template-columns: repeat(2, 1fr);
    }
}


@media screen and (max-width:400px){
    .gallery {
        grid-template-columns: repeat(1, 1fr);
    }
    .table {
    display: none;
    }
    .form-control{
    font-size: 13px;
    }
    .container-fluid {
    margin: 0;
    }
}
.table {
   font-size: 20px;
    width: 90%;
    margin: auto;
    border-collapse: separate;
    
}
.table-primary{
    text-align: center;
    letter-spacing: 1rem;
}
.players {
    text-align: center;
    text-transform: capitalize;
}